#calculator{
 background-color: rgb(0, 0, 0);
    border: 5px solid purple;
width: 170px;
border-radius: 12px;

}

#display{
 background-color:greenyellow;
  border-color: blue;
  border-radius: 10px;
margin: 10px;
width: 85%;
height: 30px;
}

.button-container{
  
    display: flex;
    justify-content: center;
  flex-wrap: wrap;


}

.button{
  border-color: blue;
  border-radius: 10px;
width: 40px;
height: 40px;
margin: 3px;
}